:root {
  --black: rgb(32, 26, 32);
  --violet: rgb(127, 64, 133);
  --violet-light: rgb(226, 206, 228);
  --white: rgb(247, 247, 247);
  --orange: rgb(255, 100, 38);
  --orange-light: #ff8250;
}
.App {
  max-width: 600px;
  height: 100vh;
  display: flex;
  flex-flow: column;
  position: relative;
  color: var(--black);
  background-color: var(--violet);
}
header {
  width: 100%;
  display: flex;
  align-items: baseline;
  color: var(--white);
  background-color: var(--violet);
}
h1, h2 {
  margin: 12px 9px;
}
h1 {
  margin-right: auto;
}
h2 {
  color:var(--violet-light)
}
h4 {
  text-align: center;
  font-weight: 400;
  padding: 36px;
  background-color: var(--violet-light);
}


/* --------- LIST BOX --------- */
main {
  padding: 9px;
  height: 100%;
}
.list-box {
  max-width: 500px;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 12px;
  background-color: var(--white);
  cursor: pointer;
}
.topic-box {
  width: 100%;
  display: flex;
  flex-flow: column;
  background-color: var(--violet-light);
  padding: 12px 18px;
}
.topic-title {
  margin-bottom: 6px;
}
.EditList {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
input {
  padding: 6px;
  border-radius: 3px;
  border: none;
}
.edit-form-buttons-box {
  display: flex;
  gap: 6px;
  height: 24px;
}
button {
  width: 36px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  padding: 6px;
  color:var(--white);
  background-color: var(--orange);
}
button:hover {
  background-color: var(--orange-light);
}


/* --------- LIST --------- */
.list {
  width: 100%;
  margin-left: 18px;
  padding: 18px;
}
.item {
  margin-bottom: 6px;
  display: flex;
  justify-content: space-between;
}
.item-name {
  max-width: 300px;
}
.item-button-box {
  display: flex;
  gap: 6px;
  height: 24px;
}
.item-button-box > button {
  text-align: center;
  vertical-align: middle;
}
.markToggle {
  color: gray;
  text-decoration: line-through;
}

/* --------- MODAL FORM --------- */
.activate-form-button {
  position: fixed;
  width: 50px;
  height: 50px;
  margin: 0 auto;
  bottom: 10px;
  right: 10px;
  border: none;
  border-radius: 100%;
  font-size: 2rem;
  color:var(--white); 
}
.Modal {
  width: 80%;
  height: 80%;
  z-index: 1;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 3px 3px 12px gray;
  padding: 18px;
  background-color: var(--white);
}
.modal-form-box {
  display: flex;
  flex-direction: column;
  height: 80%;
  overflow-y: scroll;
}
.modal-input, .modal-label {
  margin: 6px 0;
}
.modal-form-buttons {
  display: flex;
  justify-content: space-between;
}
.add-field-button, .create-list-button {
  padding: 6px 12px;
  width: auto;
}
.close-form {
  align-self: flex-end;
}


/* --------- MODAL CONFIRM MESSAGE --------- */
.Modal.Message {
  height: fit-content;
  align-items: center;
  gap: 12px;
}
.Modal.Message > div {  
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.confirm-button {
  width: 30%;
}